In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
ethereum_df = pd.read_csv("../Dataframes/ethereum_df.csv")
ethereum_df["date"] = pd.to_datetime(ethereum_df["date"])

In [3]:
ethereum_df.head()

,date,id,prices,price_diff,returns,market_caps,market_caps_diff,total_volumes,total_volumes_diff,open,high,low
0,2015-08-07,ethereum,2.83,NaN,NaN,0.000000e+00,NaN,90622.00,NaN,2.83,2.83,2.83
1,2015-08-11,ethereum,1.07,0.38,0.0038,6.453901e+07,22982697.10,1518998.21,1118534.14,1.33,1.33,0.69
2,2015-08-15,ethereum,1.67,-0.16,-0.0016,1.012152e+08,-9340066.88,2519633.27,-1835985.11,1.26,1.83,1.26
3,2015-08-19,ethereum,1.25,-0.03,-0.0003,9.092070e+07,-2037162.19,1537200.84,-158812.63,1.48,1.48,1.20
4,2015-08-23,ethereum,1.36,-0.02,-0.0002,9.848800e+07,-1820762.34,1610695.87,696107.22,1.48,1.48,1.36

In [4]:
ethereum_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766 entries, 0 to 765
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                766 non-null    datetime64[ns]
 1   id                  766 non-null    object
 2   prices              766 non-null    float64
 3   price_diff          765 non-null    float64
 4   returns             765 non-null    float64
 5   market_caps         766 non-null    float64
 6   market_caps_diff    765 non-null    float64
 7   total_volumes       766 non-null    float64
 8   total_volumes_diff  765 non-null    float64
 9   open                766 non-null    float64
 10  high                766 non-null    float64
 11  low                 766 non-null    float64
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 71.9+ KB

In [5]:
ethereum_df.describe().astype(str)

,date,prices,price_diff,returns,market_caps,market_caps_diff,total_volumes,total_volumes_diff,open,high,low
count,766,766.0,765.0,765.0,766.0,765.0,766.0,765.0,766.0,766.0,766.0
mean,2019-08-12 00:43:14.255874560,878.1649999999998,0.43711111111111484,0.004371111111111145,101836056575.88058,49747250.26227477,9374381685.9691,60441872.65810457,878.3721540469975,909.7995822454308,845.8762402088772
min,2015-08-07 00:00:00,0.49,-467.5300000000002,-4.675300000000002,0.0,-55668065704.589966,87074.8,-55545161092.700005,0.43,0.55,0.43
25%,2017-08-08 00:00:00,126.2075,-5.639999999999986,-0.0563999999999998,13480185431.73,-608446204.4700003,363647150.515,-498959275.2199993,125.05499999999999,132.22500000000002,121.61999999999999
50%,2019-08-13 00:00:00,302.7,0.0700000000000002,0.0007,29787055610.855,6845443.93999958,6205570604.41,-51807.52999999997,299.83500000000004,309.82500000000005,292.495
75%,2021-08-14 00:00:00,1566.6525,9.299999999999956,0.0929999999999995,188455231147.2425,1020003340.5400008,13998648180.7725,658777364.0900002,1554.8925,1613.7575000000002,1516.3025
max,2023-08-19 00:00:00,4652.95,338.3899999999999,3.383899999999999,548699344220.54,42619483405.20001,102524751568.45,61626573436.96999,4732.92,4815.0,4652.95
std,nan,1091.5891178441418,55.89910876879894,0.5589910876879892,130201679527.93002,6517921261.137829,11918470253.813053,5518320276.089873,1096.2623484951184,1130.7665279016849,1055.3937108599991